.selected-row {
  background-color: blue;
}

.highlight-row {
  background-color: rgb(228, 237, 250);
}

.highlight-row:hover {
  background-color: rgb(216, 226, 255);
}

.rdg-text-editor {
  appearance: none;
  box-sizing: border-box;
  inline-size: 100%;
  block-size: 100%;
  padding-block: 0;
  padding-inline: 6px;
  border: 2px solid #ccc;
  vertical-align: top;
}

.export-btn-group {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-block-end: 8px;
}